body {
    font-family: 'Oswald', sans-serif;
}

a {
    color: rgba(200,200,255,1);
    margin-top: 12px;
    text-decoration: none;
}

a:hover {
    color: rgba(150,150,255,1);
}

#canvas, .enter-content, .main-content, .middle-content, .side-content {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#canvas {
    background: #87e;
}

.enter-content, .main-content, .middle-content, .side-content {
    transition: .2s;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}
