.middle-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Slabo 27px', sans-serif;
    justify-content: flex-start;
    overflow-y: scroll;
}

.middle-content-container {
    align-items: center;
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    font-family: 'Slabo 27px', sans-serif;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 16px;
    width: 60%;
    flex-direction: column;
}

.middle-content-container > p {
    align-items: center;
    background: rgba(0,0,0,.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 16px;
}

.middle-content-container > p > iframe {
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
    .middle-content-container > p > iframe {
        max-width: 50%;
        height: auto;
    }
}
