body {
    align-items: center;
    background-color: #000;
    display: flex;
    font-family: 'Slabo 27px', sans-serif;
    justify-content: center;
}

h1, h2, div, p {
    align-items: center;
    background-color: rgba(255,255,255,0.75);
    color: #000;
    opacity: 1;
    transition: .2s;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Slabo 27px', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.title, .subtitle, .enter {
    margin: auto;
}

.title, .subtitle {
    height: 120px;
}

.subtitle {
    width: 700px;
    word-spacing: 16px;
}

.title {
    margin-top: 160px;
    width: 850px;
}

h1.title, h2.subtitle {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

.title > em, .subtitle > em {
    font-style: normal;
    font-size: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.subtitle {
    margin-top: 8px;
}

.enter {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    margin-top: 48px;
    transform: translateY(0);
    transition: background-color .2s, transform .2s;
    width: 60px;
}

.arrow {
    border: solid rgba(255,255,255,0.8);
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 16px;
    padding: 3px;
    transform: rotate(45deg) translate(-3.2px, -3.2px);
    width: 16px;
    -webkit-transform: rotate(45deg) translate(-3.2px, -3.2px);
}

.enter:hover {
    background-color: rgba(0,0,0,0.36);
    transform: translateY(-1.2px);
}

#canvas {
    background: #87e;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.enter-content, .main-content, .side-content {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: .2s;
    width: 100%;
}

.main-content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

.show-title, .show-subtitle {
    background: rgba(20, 30, 10, .8);
    color: #fff;
}

.show-title {
    font-size: 100px;
    margin-bottom: 6px;
    padding: 0px 100px 0px 20px;
}

.show-subtitle {
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 6px;
    padding: 12px 160px 12px 20px;
}

.detail-section {
    background: rgba(20, 30, 10, .8);
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 20px;
    width: 50%;
}

.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.book-button, .right-arrow {
    cursor: pointer;
    margin: 40px;
}

.book-button, .about-button, .right-triangle {
    background: rgba(255,255,255,.7);
    color: #000;
}

.book-button, .about-button {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    padding: 12px 24px;
}

.book-button:hover {
    transform: scale(1.05);
}

.right-arrow:hover {
    transform: translateX(7px);
}

.detail-blurb {
    background: none;
    color: #fff;
    font-size: 20px;
    padding: 4px;
}

.right-arrow {
    align-items: center;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px;
    transition: .2s;
}

.right-triangle {
    width: 0;
    height: 0;
    background: none;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid rgba(255,255,255,0.7);
}

.invisible {
    opacity: 0;
    transition: .2s;
}

.hidden {
    display: none;
}
